<% if (typeof app !== 'undefined') { %>
  <li class="jr-m-list-item-app">
    <a class="link" href="/app/<%= app.packageName %>"<% if (typeof nofollow !== 'undefined') { %> rel="nofollow"<% } %>>
      <img class="icon" src="<%= app.icon %>" alt="<%= app.name %>"/>
      <div class="info">
        <h2 class="name"><%= app.name %></h2>
        <div class="size"><%= app.downloadsShow %>人安装 | <%= app.sizeShow %></div>
      </div>
      <div class="desc"><%= app.editorRecommend %></div>
    </a>
    <a class="btn-down" href="<%= app.downloadUrl %>" rel="nofollow">下载</a>
  </li>
<% } %>