<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/nav/index.ejs', {tab: 0}) %>

<% if (typeof banner !== 'undefined' && banner) { %>
<%- include('../../modules/banner/index.ejs', {banner: banner}) %>
<% } %>

<% if (typeof articleList !== 'undefined' && articleList && articleList.length > 0) { %>
<section class="article">
  <%- include('../../modules/title/index.ejs', {title: '精彩资讯'}) %>
  <ul class="list">
    <% articleList.forEach(function(article) { %>
      <%- include('../../modules/list-item-img-text/index.ejs', {url: '/article/' + article.id, images: article.images, title: article.title, description: ''}) %>
    <% }); %>
    <%- include('../../modules/more/index.ejs', {text: '查看更多资讯', url: '/article'}) %>
  </ul>
</section>
<% } %>

<footer>
  <%- include('../../modules/links/index.ejs', {links: links}) %>
  <%- include('../../modules/copyright/index.ejs', {}) %>
  <%- include('../../modules/about/index.ejs', {}) %>
</footer>
