<li class="list-item-img-text">
  <a class="list-item-img-text-a" href="<%= url %>"<% if (typeof nofollow !== 'undefined') { %> rel="nofollow"<% } %>>
    <% if(typeof images !== 'undefined' && images.length > 0) { %>
      <div class="info-left">
        <img class="image-item" src="<%= images[0] %>"/>
      </div>
    <% } %>
    <div class="info-right">
      <h3><%= title %></h3>
      <% if (typeof description !== 'undefined' && description) { %>
        <p class="content"><%= description %></p>
      <% } %>
    </div>
    <div class="tips">
      <% if (typeof tag !== 'undefined' && tag.name) { %>
        <span class="tips-item"><%= tag.name %></span>
      <% } %>
      <% if (typeof timeShow !== 'undefined') { %>
        <span class="tips-item"><%= timeShow %></span>
      <% } %>
    </div>
  </a>
</li>