<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/nav/index.ejs', {tab: 0}) %>

<% if (typeof banner !== 'undefined' && banner) { %>
<%- include('../../modules/banner/index.ejs', {banner: banner}) %>
<% } %>

<% if (typeof gameList !== 'undefined' && gameList.length > 0) { %>
<section class="game">
  <%- include('../../modules/title/index.ejs', {title: '游戏推荐'}) %>
  <%- include('../../modules/app-rec-4/index.ejs', {list: gameList}) %>
</section>
<% } %>

<% if (typeof softList !== 'undefined' && softList.length > 0) { %>
<section class="soft">
  <%- include('../../modules/title/index.ejs', {title: '软件推荐'}) %>
  <%- include('../../modules/app-rec-4/index.ejs', {list: softList}) %>
</section>
<% } %>

<section class="onlinegame">
  <%- include('../../modules/title/index.ejs', {title: '在线小游戏'}) %>
  <%- include('../../modules/list-item-text/index.ejs', {url: '/onlinegame/snake', title: '『贪吃蛇 Snake』，Nokia 时代的经典手机小游戏，属于80后一代人的回忆，敢来挑战吗？'}) %>
</section>

<% if (typeof photoList !== 'undefined' && photoList.length > 0) { %>
<section class="girls">
  <%- include('../../modules/title/index.ejs', {title: '美女写真'}) %>
  <%- include('../../modules/nav-imgs-3/index.ejs', {list: photoList, lines: 3}) %>
  <%- include('../../modules/more/index.ejs', {text: '查看更多美女写真', url: '/photo'}) %>
</section>
<% } %>

<% if (typeof articleList !== 'undefined' && articleList && articleList.length > 0) { %>
<section class="article">
  <%- include('../../modules/title/index.ejs', {title: '精彩资讯'}) %>
  <ul class="list">
    <% articleList.forEach(function(article) { %>
      <%- include('../../modules/list-item-img-text/index.ejs', {url: '/article/' + article.id, images: article.images, title: article.title, description: ''}) %>
    <% }); %>
    <%- include('../../modules/more/index.ejs', {text: '查看更多资讯', url: '/article'}) %>
  </ul>
</section>
<% } %>

<% if (typeof newsList !== 'undefined' && newsList && newsList.length > 0) { %>
<section class="news">
  <%- include('../../modules/title/index.ejs', {title: '足球快报'}) %>
  <ul class="news-list">
    <% newsList.forEach(function(item) { %>
      <%- include('../../modules/list-item-img-text/index.ejs', {url: item.url, image: item.image, title: item.title, description: item.description, nofollow: true}) %>
    <% }); %>
  </ul>
</section>
<% } %>

<footer>
  <%- include('../../modules/links/index.ejs', {links: links}) %>
  <%- include('../../modules/app-declaration/index.ejs', {}) %>
  <%- include('../../modules/copyright/index.ejs', {}) %>
</footer>
