<%- include('../../modules/header/index.ejs', {}) %>

<% if (typeof banner !== 'undefined' && banner) { %>
<%- include('../../modules/banner/index.ejs', {banner: banner}) %>
<% } %>

<% if (typeof pageNavs !== 'undefined' && pageNavs && pageNavs.length > 0) { %>
<section class="nav-pages">
  <%- include('../../modules/nav-img-text-n/index.ejs', {list: pageNavs}) %>
</section>
<% } %>

<% if (typeof gameList !== 'undefined' && gameList.length > 0) { %>
<section class="game">
  <%- include('../../modules/section-title/index.ejs', {title: '热门游戏', more: { text: '查看全部', url: '/app'}}) %>
  <%- include('../../modules/app-rec-4/index.ejs', {list: gameList}) %>
</section>
<% } %>

<% if (typeof softList !== 'undefined' && softList.length > 0) { %>
<section class="soft">
  <%- include('../../modules/section-title/index.ejs', {title: '热门应用', more: { text: '查看全部', url: '/app'}}) %>
  <%- include('../../modules/app-rec-4/index.ejs', {list: softList}) %>
</section>
<% } %>

<% if (typeof articleList !== 'undefined' && articleList && articleList.length > 0) { %>
<section class="article">
<%- include('../../modules/section-title/index.ejs', {title: '最新知识', more: { text: '查看全部', url: '/article'}}) %>
  <ul class="list">
    <% articleList.forEach(function(article) { %>
      <%- include('../../modules/list-item-img-text/index.ejs', {url: '/article/' + article.id, images: article.images, title: article.title, description: '', timeShow: dateFormat(article.publishTime), tag: article.tagList[0]}) %>
    <% }); %>
  </ul>
  <%- include('../../modules/more/index.ejs', {url: 'javascript:;'}) %>
</section>
<% } %>

<section class="onlinegame">
  <%- include('../../modules/section-title/index.ejs', {title: '在线小游戏'}) %>
  <%- include('../../modules/list-item-text/index.ejs', {url: '/onlinegame/snake', title: '『贪吃蛇 Snake』，Nokia 时代的经典手机小游戏，属于80后一代人的回忆，敢来挑战吗？'}) %>
</section>

<% if (typeof photoList !== 'undefined' && photoList.length > 0) { %>
<section class="girls">
  <%- include('../../modules/section-title/index.ejs', {title: '美女写真最新', more: { text: '查看全部', url: '/photo'}}) %>
  <%- include('../../modules/nav-imgs-3/index.ejs', {list: photoList, lines: 1}) %>
</section>
<% } %>

<% if (typeof photoHotList !== 'undefined' && photoHotList.length > 0) { %>
<section class="girls">
  <%- include('../../modules/section-title/index.ejs', {title: '美女写真排行', more: { text: '查看全部', url: '/photo'}}) %>
  <%- include('../../modules/nav-imgs-3/index.ejs', {list: photoHotList, lines: 2}) %>
</section>
<% } %>

<% if (typeof articleHotList !== 'undefined' && articleHotList && articleHotList.length > 0) { %>
<section class="article-rank">
  <%- include('../../modules/section-title/index.ejs', {title: '热门知识', more: { text: '查看全部', url: '/article/rank'}}) %>
  <ul class="list">
    <% articleHotList.forEach(function(article) { %>
      <%- include('../../modules/list-item-img-text/index.ejs', {url: '/article/' + article.id, images: article.images, title: article.title, description: ''}) %>
    <% }); %>
  </ul>
</section>
<% } %>

<footer>
  <%- include('../../modules/links/index.ejs', {links: links}) %>
  <%- include('../../modules/app-declaration/index.ejs', {}) %>
  <%- include('../../modules/copyright/index.ejs', {}) %>
  <%- include('../../modules/about/index.ejs', {}) %>
</footer>
