<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/breadcrumb/index.ejs', {list: breadcrumb, title: title}) %>

<% if (typeof banner !== 'undefined' && banner) { %>
<%- include('../../modules/banner/index.ejs', {banner: banner}) %>
<% } %>

<% if (typeof gameList !== 'undefined' && gameList.length > 0) { %>
<section class="app game" resourceType="1">
  <%- include('../../modules/title/index.ejs', {title: '游戏排行榜'}) %>
  <ul class="list">
    <%- include('./list.ejs', {list: gameList}) %>
  </ul>
  <%- include('../../modules/more/index.ejs', {url: 'javascript:;'}) %>
</section>
<% } %>

<% if (typeof softList !== 'undefined' && softList.length > 0) { %>
<section class="app soft" resourceType="0">
  <%- include('../../modules/title/index.ejs', {title: '软件排行榜'}) %>
  <ul class="list">
    <%- include('./list.ejs', {list: softList}) %>
  </ul>
  <%- include('../../modules/more/index.ejs', {url: 'javascript:;'}) %>
</section>
<% } %>

<% if (typeof developerList !== 'undefined' && developerList.length > 0) { %>
  <section class="developerList" resourceType="0">
  <%- include('../../modules/title/index.ejs', {title: '开发者推荐'}) %>
  <ul class="list">
    <%- include('../developerlist/list.ejs', {list: developerList, encode: encode}) %>
  </ul>
  <%- include('../../modules/more/index.ejs', {url: '/developer', text: '查看全部开发者'}) %>
</section>
<% } %>

<footer>
  <%- include('../../modules/app-declaration/index.ejs', {}) %>
</footer>
