<% var _layoutVersion = '' %>
<% if (typeof layoutVersion !== 'undefined') { %>
    <% _layoutVersion = layoutVersion %>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="baidu-site-verification" content="bcxptpZDFq" />
    <meta name="google-site-verification" content="db80lv3xkArk1Z-yDxFr7SZknfjoXvWIjQTCkx-wnmk" />
    <meta name="shenma-site-verification" content="1bc11181e26da4917408ab0182f25f29_1548124919"/>
    <% if (typeof canonical !== 'undefined') { %>
        <link rel="canonical" href="<%= canonical %>">
    <% } %>
    <title><% if (typeof title !== 'undefined') { %><%= title %><% } else { %>车多星汽车网_专业的用车养车经验分享平台_老司机带你飞<% } %></title>
    <meta name="keywords" content="<% if (typeof keywords !== 'undefined') { %><%= keywords %><% } %>"/>
    <meta name="description" content="<% if (typeof description !== 'undefined') { %><%= description %><% } %>"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico?v=<%= _layoutVersion %>" type="image/x-icon">
    <link rel="stylesheet" href="/public/bundle/<%= name %>.css?v=<%= _layoutVersion %>"/>
</head>

<body>
    <%- body%>
</body>

<script type="text/javascript" src="/public/libs/zepto.min.js?v=<%= _layoutVersion %>"></script>
<script type="text/javascript" src="/public/bundle/<%= name %>.js?v=<%= _layoutVersion %>"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81627907-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-81627907-5');
</script>

<!-- 百度自动推送 -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<!-- cnzz -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1275982504'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/z_stat.php%3Fid%3D1275982504%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

<!-- firewall -->
<script type="text/javascript" src="/public/libs/firewall-v1.js?v=<%= _layoutVersion %>"></script>
</html>
