<% var _layoutVersion = '' %>
<% if (typeof layoutVersion !== 'undefined') { %>
    <% _layoutVersion = layoutVersion %>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <% if (typeof canonical !== 'undefined') { %>
        <link rel="canonical" href="<%= canonical %>">
    <% } %>
    <title><% if (typeof title !== 'undefined') { %><%= title %><% if (title.indexOf('车多星') < 0) { %>_车多星<% } %><% } else { %>车多星_专业的用车养车常识资讯平台_老司机经验分享<% } %></title>
    <meta name="keywords" content="<% if (typeof keywords !== 'undefined') { %><%= keywords %><% } %>"/>
    <meta name="description" content="<% if (typeof description !== 'undefined') { %><%= description %><% } %>"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/bundle/<%= name %>.css?v=<%= _layoutVersion %>"/>
</head>

<%- body%>

<script type="text/javascript" src="/public/libs/zepto.min.js?v=<%= _layoutVersion %>"></script>
<script type="text/javascript" src="/public/bundle/<%= name %>.js?v=<%= _layoutVersion %>"></script>

<!-- Global site tag (gtag.js) - Google Analytics 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81627907-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-81627907-4');
</script>-->

<!-- firewall -->
<script type="text/javascript" src="/public/libs/firewall-v1.js?v=<%= _layoutVersion %>"></script>
</html>
