<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <% if (typeof canonical !== 'undefined') { %>
        <link rel="canonical" href="<%= canonical %>">
    <% } %>
    <title><% if (typeof title !== 'undefined') { %><%= title %><% } else { %>车多星汽车网_专业的用车养车经验分享平台_老司机带你飞<% } %></title>
    <meta name="keywords" content="<% if (typeof keywords !== 'undefined') { %><%= keywords %><% } %>"/>
    <meta name="description" content="<% if (typeof description !== 'undefined') { %><%= description %><% } %>"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
</head>

<body>
    <%- body%>
    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
</body>
</html>
