<li class="jr-m-list-item-img-text">
  <a class="list-item-img-text-a" href="<%= props.url %>"<% if (props.nofollow) { %> rel="nofollow"<% } %>>
    <% if(props.images && props.images.length > 0) { %>
      <div class="info-image">
        <img class="image-item" src="<%= props.images[0] %>"/>
      </div>
    <% } %>
    <div class="info-detail">
      <span class="info-title"><%= props.title %></span>
      <% if (props.description) { %>
        <p class="content"><%= props.description %></p>
      <% } %>
    </div>
    <div class="tips">
      <% if (props.count) { %>
        <span class="tips-item count"><%= props.count %></span>
      <% } %>
      <% if (props.tag && props.tag.name) { %>
        <span class="tips-item tag"><%= props.tag.name %></span>
      <% } %>
    </div>
  </a>
</li>