<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/breadcrumb/index.ejs', {list: breadcrumb, title: title}) %>

<section class="title">
  <div class="logo">
    <img src="<%- brand.logo %>" alt="<%- brand.name %>" Logo/>
  </div>
  <b class="name"><%- brand.name %></b>
  <div class="tag">
    <% if (brand.territory) { %>
      <a class="tag-item"><%= brand.territory %></a>
    <% } %>
    <% if (brand.website) { %>
      <a class="tag-item" href="<%= brand.website %>" rel="nofollow" target="_blank">官网</a>
    <% } %>
  </div>
</section>

<section class="brand_content">
  <% if (brand.impression || brand.comment) { %>
    <div class="impression">
      <div class="impression-header">- 网友印象 -</div>
      <% if (brand.impression) { %><div class="impression-title">「<%= brand.impression %>」</div><% } %>
      <% if (brand.comment) { %><div class="impression-comment"><%= brand.comment %></div><% } %>
    </div>
  <% } %>

  <% if (brand.video) { %>
    <div class="video-player">
      <% if (brand.video.indexOf('player.youku.com/embed/') > 0) { %>
        <iframe width="100%" src="<%= brand.video %>" frameborder=0 'allowfullscreen'></iframe>
      <% } else { %>
        <video webkit-playsinline="true" playsinline="true" controls="controls" preload="metadata" poster src="<%= brand.video %>" style="width: 100%; height: 100%; position: relative;"></video>
      <% } %>
    </div>
  <% } %>

  <% if (brand.summaryHtml) { %>
    <%- brand.summaryHtml %>
  <% } %>

  <% if (brand.contentHtml) { %>
    <%- brand.contentHtml %>
  <% } %>
</section>

<section class="brand_recommend">
  <% if (typeof preBrand !== 'undefined') { %>
    <div class="pre">上一个：<a href="<%= preBrand.id %>"><%= preBrand.name %></a></div>
  <% } %>

  <% if (typeof nextBrand !== 'undefined') { %>
    <div class="next">下一个：<a href="<%= nextBrand.id %>"><%= nextBrand.name %></a></div>
  <% } %>
</section>
