<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/breadcrumb/index.ejs', {list: breadcrumb, title: title}) %>

<section class="brand_content">
  <h1><%- brand.name %>品牌简介</h1>

  <% if (brand.territory) { %>
    <div class="territory">
      <a>#<%= brand.territory %></a>
    </div>
  <% } %>

  <% if (brand.video) { %>
    <div class="video-player">
      <% if (brand.video.indexOf('player.youku.com/embed/') > 0) { %>
        <iframe width="100%" src="<%= brand.video %>" frameborder=0 'allowfullscreen'></iframe>
      <% } else { %>
        <video webkit-playsinline="true" playsinline="true" controls="controls" preload="metadata" poster src="<%= brand.video %>" style="width: 100%; height: 100%; position: relative;"></video>
      <% } %>
    </div>
  <% } %>

  <% if (brand.summaryHtml) { %>
    <%- brand.summaryHtml %>
  <% } %>

  <% if (brand.contentHtml) { %>
    <%- brand.contentHtml %>
  <% } %>

  <% if (brand.website) { %>
    <div class="website">
      <a href="<%= brand.website %>" rel="nofollow" target="_blank">进入品牌官网 >></a>
    </div>
  <% } %>
</section>

<section class="brand_recommend">
  <% if (typeof preBrand !== 'undefined') { %>
    <div class="pre">上一个：<a href="<%= preBrand.id %>"><%= preBrand.name %></a></div>
  <% } %>

  <% if (typeof nextBrand !== 'undefined') { %>
    <div class="next">下一个：<a href="<%= nextBrand.id %>"><%= nextBrand.name %></a></div>
  <% } %>
</section>
