<%- include('../../modules/header/index.ejs', {}) %>
<%- include('../../modules/breadcrumb/index.ejs', {list: breadcrumb, title: title}) %>

<section class="developer" developer="<%= developer %>">
  <% if (typeof appList !== 'undefined' && appList.length > 0) { %>
    <div class="title">
      <h1>「 <%= developer %> 」</h1>
      <p class="title-desc">应用合集</p>
    </div>
    <ul class="list">
      <%- include('../applist/list.ejs', {list: appList}) %>
    </ul>
    <%- include('../../modules/more/index.ejs', {url: 'javascript:;'}) %>
  <% } %>
</section>
