<% var _layoutVersion = '' %>
<% if (typeof layoutVersion !== 'undefined') { %>
    <% _layoutVersion = layoutVersion %>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <title>联系我们_瓶子老师学习网</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/bundle/contact.css?v=<%= _layoutVersion %>"/>
</head>

<body>
    <%- include('../../../modules/header/index.ejs', {}) %>

    <%- include('../../../modules/title/index.ejs', {title: '关于我们'}) %>
    <div class="description">
        <p>瓶子老师学习网，爱生活爱学习，跟着瓶子老师一起学习有趣的冷知识、生活小常识、文化、历史、地理、英语、科学、母婴等热门小知识。</p>
    </div>

    <%- include('../../../modules/title/index.ejs', {title: '微信公众号'}) %>
    <div class="wechat">
        <div class="qrcode">
            <img src="/public/images/qrcode_wechat.jpg"/>
            <div class="tips">扫二维码，或微信搜索「<span class="brand">瓶子老师爱学习</span>」关注订阅号</div>
        </div>
    </div>

    <%- include('../../../modules/title/index.ejs', {title: '电子邮箱'}) %>
    <div class="email">
        <a href="mailto:diamont1001@aliyun.com?subject=瓶子老师学习网用户反馈&body=">diamont1001@aliyun.com</a>
    </div>

    <footer>
      <%- include('../../../modules/copyright/index.ejs', {}) %>
    </footer>
</body>

<script type="text/javascript" src="/public/libs/zepto.min.js?v=<%= _layoutVersion %>"></script>
<script type="text/javascript" src="/public/bundle/contact.js?v=<%= _layoutVersion %>"></script>
</html>
